{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1 style="text-align: center;">Hola, bienvenido al himalaya</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/img1.jpg" class="img-fluid" >
    </div>
</div>

{{> footer}}